<div class="column-box bg-white shadow-md rounded-lg p-4 w-72 flex-shrink-0 relative">

    <!-- BOTÃO DELETE DA COLUNA -->
    <button type="button" class="absolute top-2 right-2 text-red-600 text-sm"
        hx-post="{% url 'boards:delete_column' column.id %}" hx-target="closest .column-box" hx-swap="outerHTML">
        ✕
    </button>

    <h4 class="text-md font-semibold mb-3">{{ column.name }}</h4>

    <ul id="cards-col-{{ column.id }}" class="space-y-2 mb-4">

        <!-- VAZIO -->
        <li class="no-cards-msg text-gray-400 text-sm" {% if column.cards.count %}style="display:none;" {% endif %}>
            Nenhum card ainda.
        </li>

        <!-- CARDS DA COLUNA -->
        {% for card in column.cards.all %}
        {% include "boards/partials/card_item.html" %}
        {% endfor %}
    </ul>

    <!-- FORM DE ADD CARD (via HTMX) -->
    <div hx-get="{% url 'boards:add_card' column.id %}" hx-target="#form-col-{{ column.id }}" hx-trigger="load"></div>

    <div id="form-col-{{ column.id }}"></div>

</div>