{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}NossoTrello{% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static 'images/logo-camim.png' %}">

  <!-- CSS apenas o necessário para auth -->
  <link rel="stylesheet" href="{% static 'boards/auth.css' %}">
  {% block extra_css %}{% endblock %}
</head>

<body class="auth-body">
  {% block content %}{% endblock %}
</body>
</html>
