<!--login.html-->
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - NossoTrello</title>
</head>
<body style="font-family: system-ui; max-width: 420px; margin: 48px auto; padding: 0 16px;">
  <h1 style="margin-bottom: 8px;">Entrar</h1>
  <p style="margin-top: 0; color: #444;">Acesse com seu usuário e senha.</p>

  {% if form.errors %}
    <div style="padding: 12px; background: #ffecec; border: 1px solid #ffb3b3; margin: 16px 0;">
      Email ou senha inválidos.
    </div>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div style="margin-bottom: 12px;">
      <label for="id_username">Email Institucional</label><br>
      <input id="id_username" name="username" type="text" required
             style="width: 100%; padding: 10px; box-sizing: border-box;">
    </div>

    <div style="margin-bottom: 12px;">
      <label for="id_password">Senha</label><br>
      <input id="id_password" name="password" type="password" required
             style="width: 100%; padding: 10px; box-sizing: border-box;">
    </div>

    {% if next %}
      <input type="hidden" name="next" value="{{ next }}">
    {% endif %}




    <button type="submit" style="padding: 10px 14px; cursor: pointer;">Entrar</button>

    <p>

    <a href="{% url 'first_login' %}">Primeiro login? Clique Aqui!</a>
  </p>

  <p style="margin-top: 12px;">
  <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
</p>




  </form>
</body>
</html>
